@charset 'utf-8';
#head {
  background: #000000;
  font-size: 12px;
  height: 36px;
}
.nav > li {
  float: left;
  line-height: 36px;
  padding: 0 8px;
  position: relative;
}
.nav > li > a {
  color: #afafaf;
}
.nav > li > a:hover {
  color: #fff;
}
.nav > li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #414141;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}
.nav > .nobefore::before {
  content: none!important;
}
.nav .nav-list {
  padding: 0!important;
}
.nav .nav-list:hover p {
  background: #fff;
  position: relative;
  z-index: 222 ;
}
.nav .nav-list:hover span {
  color: #f00;
}
.nav .nav-list p {
  padding: 0 8px;
}
.nav .nav-list span {
  color: #afafaf;
}
.nav .nav-list span::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icon-common.svg) no-repeat -68px 8px;
}
.nav .nav-list:hover span::after {
  background-position: -81px 8px;
}
.nav .nav-list:hover::before {
  content: none;
}
.nav .nav-list .subnav-more {
  background: #fff;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 3px 5px 0 #ccc;
  width: 120px;
  text-align: center;
  line-height: 28px;
  padding: 8px 0 14px;
  position: absolute;
  z-index: 111;
  right: 0;
  display: none;
}
.nav .nav-list .subnav-more a {
  color: #aaa;
}
.nav .nav-list .subnav-more a:hover {
  color: red;
}
.nav .nav-list:hover .subnav-more {
  display: block;
}
.nav .nav-list .subnav-server {
  background: #fff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 3px 5px 0 #ccc;
  width: 84px;
  text-align: center;
  line-height: 28px;
  padding: 8px 0 14px;
  position: absolute;
  z-index: 111;
  right: 0;
  display: none;
}
.nav .nav-list .subnav-server a {
  color: #aaa;
}
.nav .nav-list .subnav-server a:hover {
  color: red;
}
.nav .nav-list:hover .subnav-server {
  display: block;
}
.nav .nav-list .subnav-bar {
  background: #fff;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 3px 5px 0 #ccc;
  width: 900px;
  padding: 15px;
  position: absolute;
  z-index: 111;
  right: 0;
  display: none;
}
.nav .nav-list .subnav-app {
  background: #fff;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 3px 5px 0 #ccc;
  width: 210px;
  padding: 15px;
  position: absolute;
  z-index: 111;
  right: 0;
  display: none;
}
.nav .nav-list .subnav-app .app {
  margin-bottom: 5px;
}
.nav .nav-list .subnav-app .img-app {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.nav .nav-list .subnav-app .app1 {
  height: 100px;
  line-height: 15px;
}
.nav .nav-list .subnav-app .app1 .iconfont1 {
  text-align: center;
  margin-top: 15px;
}
.nav .nav-list .subnav-app .app1 .iconfont1 .iconfont::after {
  margin-top: 10px;
  font-size: 10px;
  content: none;
  color: gray;
}
.nav .nav-list .subnav-app .app1 .iconfont1 > p {
  padding: 0;
}
.nav .nav-list .subnav-app .app1 > p {
  margin-top: 5px;
  line-height: 15px !important;
  padding: 0;
  color: red;
  font-size: 13px;
}
.nav .nav-list:hover .subnav-app {
  display: block;
}
.nav .subnav-shop {
  background: #fff;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 3px 5px 0 #ccc;
  width: 210px;
  padding: 15px;
  position: absolute;
  z-index: 111;
  right: 0;
  display: none;
}
