/* footer start to css */
#footer {
  height: 400px;
  background: #f9f9f9;
}
#footer .container {
  width: 1200px;
  height: 400px;
  margin: auto;
}
.footer-first-list {
  position: relative;
}
.footer-first-list > li {
  width: 300px;
  height: 80px;
  font-size: 18px;
  line-height: 80px;
  float: left;
}
.footer-first-list > li > a {
  display: block;
}
.footer-first-list > li > a::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/icon01.svg");
  vertical-align: middle;
  margin-right: 15px;
}
.footer-first-list .fitsta::before {
  background-position: -74px 0;
}
.footer-first-list .seconda::before {
  background-position: -114px 0;
}
.footer-first-list .thirda::before {
  background-position: -154px 0;
}
.footer-first-list .foura::before {
  background-position: -194px 0;
}
.footer-first-list::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background: #e5e5e5;
  top: 80px;
  left: 0;
}
.footer-second {
  height: 200px;
}
.footer-second-main {
  height: 150px;
  padding: 20px 0 30px 0;
}
.footer-second-main-left {
  width: 950px;
  height: 150px;
  float: left;
  font-size: 12px;
}
.footer-second-main-right {
  width: 250px;
  height: 150px;
  float: left;
}
.footer-second-main-left li {
  width: 158px;
}
.footer-second-main-left li a {
  color: #777777;
  line-height: 20px;
}
.footer-second-main-left li:hover a {
  color: orangered;
  line-height: 20px;
}
.firstli {
  margin-bottom: 15px;
}
.footer-second-main-left .firstli a {
  font-size: 18px;
  color: black;
}
.footer-second-main-left ul {
  float: left;
}
.footer-second-main-right::before {
  content: "";
  height: 150px;
  width: 1px;
  display: block;
  background: #e5e5e5;
  float: left;
}
.footer-second-main-right p {
  text-align: center;
}
.main-right-p1 {
  font-size: 24px;
  padding: 5px 0 5px 0;
}
.main-right-p2 {
  color: #575757;
  padding: 5px 0 5px 0;
}
.main-right-p3 {
  color: #575757;
  padding: 5px 0 5px 0;
}
.main-right-p4 {
  color: #575757;
}
.footer-second-main-right > .main-right-p3 > a {
  display: block;
  margin: auto;
  width: 170px;
  height: 35px;
  color: white;
  border-radius: 15px;
  background: black;
  line-height: 35px;
}
.footer-second-main-right > .main-right-p3 > a:hover {
  box-shadow: 0 2px 5px 0 lightgray inset, 2px 0 5px 0 lightgray inset, -2px 0 5px 0 lightgray inset, 0 -2px 5px 0 lightgray inset;
}
.main-right-p4 a {
  display: block;
  width: 25px;
  height: 24px;
  background: red;
  float: right;
  margin: 0 5px;
  background: url("../img/icon03.svg") no-repeat;
  background-position: 0 -36px;
}
.main-right-p4 .footer-seconda {
  background-position: -148px 0;
}
.main-right-p4 .footer-thirda {
  background-position: -172px 0;
}
.main-right-p4 .footer-foura {
  background-position: -124px 0;
}
.footer-third {
  height: 120px;
}
.footer-third-center {
  height: 60px;
  padding: 30px 0 30px;
  font-size: 12px;
}
.third-center-center {
  width: 730px;
  height: 60px;
  margin-left: 25px;
  float: left;
}
.lastul li a {
  color: #777777;
}
.lastul li a:hover {
  color: orangered;
}
.lastul li::after {
  content: "";
  width: 1px;
  height: 12px;
  display: block;
  position: absolute;
  background: #d3d3d3;
  right: 0;
  top: 2px;
}
.lastul li {
  position: relative;
  float: left;
  padding: 0 5px 0 5px;
  height: 15px;
  text-align: center;
}
.third-center-left {
  float: left;
}
.lastul .left-padding0 {
  padding-left: 0;
}
.lastul .right-padding0 {
  padding-right: 0;
}
.lastul .right-padding0::after {
  content: none;
}
.lastul2 {
  padding: 7px 0;
}
.lastul2 > li {
  float: left;
  font-size: 11px;
  color: #c1abab;
}
.lastul2 > li > a {
  color: #c1abab;
}
.lastul2 > li > a:hover {
  color: orangered;
}
.footer-last-lastp {
  color: #c1abab;
}
.lastdiv {
  width: 350px;
  height: 60px;
  float: right;
}
.lastdiv img {
  float: right;
  width: 70px;
  border: 0;
}
.footer-third {
  position: relative;
}
.footer-third::after {
  content: "";
  width: 1200px;
  height: 1px;
  display: block;
  background: #e5e5e5;
  position: absolute;
  left: 0;
  top: 0;
}
/* footer end to css */
