body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dt,
dd,
form,
table,
input,
fieldset {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "微软雅黑";
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
input {
  border: 0;
  outline: 0;
}
em,
i {
  font-style: normal;
}
b,
strong {
  font-weight: normal;
}
/* 清除高度塌陷的方法 */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*版心 */
.content {
  width: 1200px;
  margin: 0 auto;
}
