.first-main2 {
  background: gainsboro;
  width: 100%;
  height: 20px;
}
#main {
  background: gainsboro;
  width: 100%;
  margin: auto;
}
.first-main1 {
  width: 1200px;
  margin: 0 auto;
  background: white;
  text-align: center;
  box-sizing: border-box;
  font-size: 22px;
  margin-bottom: 40px;
  overflow: hidden;
}
.first-main1 > .p-1 {
  display: inline-block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  background: red;
  color: white;
  padding: 10px;
}
.first-main1-box {
  width: 120px;
  height: 120px;
  margin: auto;
  background: gainsboro;
  border-radius: 50%;
  margin-bottom: 20px;
}
.first-main1-box > span {
  display: inline-block;
  font-size: 45px;
  line-height: 120px;
}
h2 {
  margin-bottom: 20px;
}
.second-main1 {
  width: 1200px;
  height: 300px;
  margin: auto;
  background: white;
  overflow: hidden;
  position: relative;
}
.second-main1 > .prev1 {
  display: block;
  position: absolute;
  top: 35%;
  width: 50px;
  height: 50px;
  font-size: 40px ;
}
.second-main1 > .prev1:hover {
  color: red;
}
.second-main1 > .next1 {
  display: block;
  position: absolute;
  top: 35%;
  right: 0px;
  height: 50px;
  font-size: 40px ;
}
.second-main1 > .next1:hover {
  color: red;
}
.second-main1 li {
  float: left;
  width: 235px;
  height: 300px;
}
.second-main1 li > a {
  display: inline-block;
  text-align: center ;
  width: 235px;
  height: 300px;
  color: black;
}
.second-main1 li > a img {
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 25px 0;
}
.second-main1 li > a p:nth-of-type(1) {
  margin-top: 10px;
}
.second-main1 li > a p:nth-of-type(2) {
  margin-top: 10px;
}
.second-main1 li:nth-of-type(1) {
  margin-left: 20px;
}
.box3 {
  width: 100%;
  height: 50px;
  background: gainsboro ;
}
.itemlist > .item {
  margin: 20px;
  overflow: hidden;
}
.itemlist > .item img {
  display: block;
  width: 100px;
  height: 100px;
}
.itemlist > .item > div {
  float: left;
  margin: 10px;
}
